* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    height: 70vh;
    width: 70vw;
}
header {
    border-bottom: 2px solid black;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}

footer {
    border-top: 2px solid black;
    width: 100%;
    margin-top: 5px;
    text-align: center;
}

.board {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    height: 60vh;
    width: 45vw;
}

div > div {
    padding: 10px;
    background-color: #ccc;
    border: 2px solid black;
    border-radius: 5px;
}